.game-helper-finished

  display flex
  align-items center
  justify-content center
  flex-direction column

  width 90vw
  min-width 300px
  max-width 420px

  @media all and (min-height 480px)

    max-width 480px

  .ui-infobox
  .ui-button-group

    width 100%

  .ui-button

    flex 1

.game-helper-super-score

  display block
  font-family 'Channel'
  font-size 4rem

  margin-top 10px
  margin-bottom 10px
