.menu-notification

  padding 10px

  background-color $color-infobox // TODO give this its own color
  border-radius $button-border-radius

  display flex

  &.menu-error

    background-color $color-button-red // TODO give this its own color

  a

    color white

  i

    flex 0
    padding-right 10px

  p

    flex 1
