$color-bg = rgb(66,156, 240)
$color-bg-top = rgb(59, 155, 245)
$color-bg-bottom = rgb(129, 196, 247)

$color-infobox = rgba(0, 81, 154, 0.4)
$color-infobox-text = rgba(255, 255, 255, 0.95)
$color-infobox-header = rgb(255, 255, 255)
$color-infobox-error = rgb(237, 71, 92)

$color-button = rgb(255, 255, 255)
$color-button-shadow = rgb(145, 203, 255)

$color-button-red = rgb(237, 71, 92)
$color-button-red-shadow = rgb(202, 61, 61)

$color-button-blue = rgb(16, 118, 210)
$color-button-blue-shadow = rgb(0, 81, 154)

// time bonus/penalty displays
$color-time-bonus = rgb(102, 196, 87)
$color-time-penalty = rgb(255, 59, 59)

// info boxes on the interstitials and game ui
$color-info = rgb(93, 177, 255)
$color-info-light = #5db1ff

// game ui actions (skip/halt)
$color-action-disabled = #d4d4d4
$color-action-disabled-dark = #a9a9a9
