.ui-load

  position absolute
  top 0; bottom 0; left 0; right 0;

  background linear-gradient(to bottom, $color-bg-top 0%, $color-bg-bottom 100%)

  display flex
  align-items center
  justify-content center
  flex-direction column

.ui-load-container

  display flex
  align-items center
  justify-content center
  flex-direction column

  svg

    width 80px

    fill white

    margin-bottom 10px

  p

    font-family 'Channel', sans-serif
    text-transform uppercase
    text-align center

