.ui-title

  width 300px

  fill white
  text-align center

  @media all and (min-width 480px) and (min-height 480px)

    width 380px

.ui-subtitle

  color rgb(16, 99, 172)
  font-family 'Channel', sans-serif
  letter-spacing 1px
  text-align center
  white-space pre

  margin-bottom 5px

  @media all and (min-width 480px) and (min-height 480px)

    font-size 1.25rem

    margin-top 5px
    margin-bottom 10px
