.game-helper-time-alert

  position absolute
  right -20px

  width 80px

  padding 0.5rem

  color white
  font-size 1.5rem
  font-weight bold
  text-align center

  border-radius $button-border-radius

  z-index 100

.game-helper-bonus

  background-color $color-time-bonus

.game-helper-penalty

  background-color $color-time-penalty
