.ui-about

  user-select auto
  pointer-events all

.ui-about-open
.ui-about-close

  font-size 1.5rem

.ui-about-close

  position absolute
  top 15px; right 15px;

.ui-about-takeover

  position absolute
  top 0; left 0; right 0; bottom 0;

  background-color rgba(0, 0, 0, 0.9)

  display flex
  align-items center
  justify-content center

.ui-about-container

  width 50vw
  min-width 300px

  h1

    font-size 3rem
    font-family 'Channel'

    margin-bottom 20px

  p

    margin-bottom 20px

  a, a:visited

    color white
